@font-face
{
	font-family: indigenous;
	src: url(./Rajdhani-Bold.ttf);
}

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html
{
	font-size: 100%;
}

body {
	/* background: #7665AC; */
	/* background: #00863D; */
	background: #002B36;
	background: #10172B;
	background: #19398A;
	/* background: #FFFFFF; */
	font-family: 'indigenous', 'Roboto', sans-serif;
	color: #FF671F;
}

button
{
	position: fixed;
	bottom: 1rem;
	right: 1rem;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 3rem;
	height: 3rem;

	font-size: 1.6rem;
	font-weight: bold;

	border: 2px groove #FF671F;
	outline: none;
	background: none;
}

section {display: none;}
.pgBody {display: block;}

header
{
	background: #3D4849 url('./icons/zoro.svg');
	background-size: auto 90%;
	background-repeat: no-repeat;
	background-position: bottom left;
}
nav
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	font-size: 1.6rem;
	font-weight: bold;
	margin-left: auto;
}
ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.6s ease-in;
}
li
{
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	height: 10vw;
	margin-left: auto;
	padding-right: 1rem;
	border-top: 3px groove #FF671F;
	border-radius: 0.25rem 0 0 0;
	letter-spacing: 0.25rem;
}
li:active {
	color: #FFFFFF;
}
nav:active {
	color: #FFFFFF;
}
.expand
{
	max-height: 100vw; /* ViewPort Width */
}


/* ....................................... */


.matches
{
	margin-top: 1rem;
	/* display: none; */
	color: #FF671F;

	article
{
	display: grid;
	padding: 0.5rem;
	grid-template-columns: 1fr 10% 1fr;
	background: #10172B;
	border-radius: 0.37rem;
	margin: 0.25rem;
}
div
{
	padding: 0.5rem;
	text-align: center;

	background: #19398A;
	border-radius: 0.37rem;
}
span
{
	text-align: center;
	color: #FFFFFF;
}

.logo {
	aspect-ratio: 1/1;
	background: slateblue;
}
}


/* ....................................... */

.auction {
	padding-top: 1rem;
	* {
		color: #FF671F;
		text-align: center;
		padding: 0.25rem;
		border-radius: 0.37rem;
		user-select: none;
	}

	h2 {
		color: #FFFFFF;
		background: #10172B;
	}

	article {
		color: #FF671F;
		background: #10172B;
		margin: 0.25rem;
		gap: 0.25rem;
		display: flex;
	}

	div {
		flex-grow: 1;
		background: #19398A;
	}

	span {
		width: 30%;
		background: #19398A;
	}
}


/* ....................................... */

.team {
	padding-top: 1rem;
	* {
		color: #FF671F;
		text-align: center;
		padding: 0.25rem;
		border-radius: 0.37rem;
		user-select: none;
	}

	h2 {
		color: #FFFFFF;
		background: #10172B;
	}

	article {
		color: #FF671F;
		background: #10172B;
		margin: 0.25rem;
		gap: 0.25rem;
		display: none;
	}

	div {
		flex-grow: 1;
		background: #19398A;
	}

	span {
		width: 30%;
		background: #19398A;
	}
}

.teamShow {
	h2 {
		color: #FF671F;
	}

	article {
		display: flex;
	}
}

/* ....................................... */


.result
{
	margin-top: 1rem;
	/* display: none; */
	color: #FF671F;

	article
{
	display: grid;
	padding: 0.5rem;
	grid-template-columns: 1fr 10% 1fr;
	background: #10172B;
	border-radius: 0.37rem;
	margin: 0.25rem;
}
div
{
	padding: 0.5rem;
	text-align: center;

	background: #19398A;
	border-radius: 0.37rem;
}
span
{
	text-align: center;
	color: #FFFFFF;
}

.logo {
	aspect-ratio: 1/1;
	background: slateblue;
}
}